{% extends 'admin_home.html' %}
{% block wrapper %}
<div class="m-5">
    <table class="table">
        <tr>
            <th scope="col"> User </th>
            <th scope="col"> Role </th>
            <th scope="col"> Delete </th>
        </tr>
        {% for user in users %}
        <tr>
            <td class='col-sm-5'>{{ user.email }}</td>
            {% if user.is_admin %}
                <td class='col-sm-2'>Admin</td>
            {% else %}
                <td class='col-sm-2'>User</td>
            {% endif %}
            <td class="col-sm-1">
            {% if not user.is_admin %}
                <a class="text-danger" onclick="return confirm('Are you sure you want to Delete this User?')" href="{{url_for('admin_delete', user_id=user.id)}}">
                    <svg style="margin-left: 10px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                      </svg>
                </a>
                {% else %}
                &nbsp;NA
            {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %} 