{% extends "base.html" %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='poll.css') }}" type="text/css"/>
<script>
 function selectOption(option_text){
   const options = document.querySelectorAll("label");
   for (let i = 0; i < options.length; i++) {
     if(options[i].parentElement.classList.contains("selected")){
        options[i].parentElement.classList.remove("selected");
      }
   }
   
   for (let i = 0; i < options.length; i++) {
     if(options[i].innerHTML==option_text){
        options[i].parentElement.classList.add("selected");
		const radioButton = document.getElementById(options[i].htmlFor);
		radioButton.checked = true;
		break;
      }
   }
 }
</script>
<div class="wrapper">
<header>
    <a style="margin-left:-25px;" href="{{ url_for('home') }}" class="button">
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5M10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5"/>
</svg>
&ensp;Home</a>
</header>
<br>
  <h2 style="cursor: default;"> {{poll.title}} </h2>
  <p style="cursor: default;">{{ poll.description }}</p>
  <div class="poll-area">
   <form action="{{ url_for('results', poll_id=poll.id) }}" method="POST">
    {% for option in poll.options %}
        <div class="poll-options" style="border: 2px solid #e6e6e6; margin-bottom:10px;cursor: pointer;" onclick="selectOption('{{ option.text }}')">
            <input style="margin-left:10px;accent-color:grey;cursor: pointer;" type="radio" id="{{ option.id }}" name="selected_option" value="{{ option.id }}" required>
			<label for="{{ option.id }}">{{ option.text }}</label>
        </div>
    {% endfor %}
	<br>
	<div class="button-div">
    <button type="submit" class="button btn btn-info">Submit Vote</button>
	</div>
   </form>
  </div>
</div>
{% endblock %}